# Maven
target

# Eclipse
# must commit .project file to have code audits auto enabled  :-/
.classpath
.settings
.factorypath
.metadata
.idea

bin

# Java output
.class
.jar
.war
.ear
leagues.iml
src/main/main.iml
src/test/test.iml
server.xml
