<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script type="text/javascript" src="/js/redline/apiRequest.js"></script>
    <script type="text/javascript" src="/js/redline/vkbeautify.0.98.01.beta.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>


</head>

<body>
<h2>BPAM Youth League Search</h2>

<a href="/bpam/home/search/55106"></a>
<a href="/bpam/home/1">Go To League Page</a>
    <div class="container">
        <div class="accordion" id="accordion-api">

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-api" href="#radius">
                        API Zip Codes by Radius
                    </a>
                </div>
                <div id="radius" class="accordion-body collapse">
                    <!--<form method="GET" action="/bpam/home?jsonList=test">-->
                        <form method="POST" action="" onsubmit="makeApiRequest($(this)); return false;">
                        <div class="accordion-inner">
                            <p>
                                Use this API to find all zip codes within a given radius of a zip code.
                                Send a GET request to <code class="endpoint">https://zipcodedistanceapi.redline13.com/rest/&lt;api_key&gt;/radius.&lt;format&gt;/&lt;zip_code&gt;/&lt;distance&gt;/&lt;units&gt;?minimal</code>.
                            </p>
                            <p>
                                If you only want the zip code in the response, you can add a GET parameter of <code>minimal</code> to the url.
                                For example, <code>https://zipcodedistanceapi.redline13.com/rest/&lt;api_key&gt;/radius.csv/08057/5/miles?minimal</code>.
                            </p>

                            <div class="row">
                                <div class="span6">
                                    <label>API Key</label>
                                    <input class="input-block-level" type="text" name="api_key" value="js-GcUhqNYJbu1CeWQdDY3KRxQvJ5kox1tednwDbummYoZdlPqYOuIG1zcLEwacxDqK" required="required" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="span1">
                                    <label>Format</label>
                                    <select class="input-mini" name="format" required="required">
                                        <option value="json">json</option>
                                        <option value="xml">xml</option>
                                        <option value="csv">csv</option>
                                    </select>
                                </div>

                                <div class="span2">
                                    <label>Zip Code</label>
                                    <input class="input-mini" type="text" name="zip_code" placeholder="Zip Code" required="required" />
                                </div>

                                <div class="span2">
                                    <label>Distance</label>
                                    <input class="input-mini" type="number" min="0" name="distance" placeholder="Distance" required="required" />
                                </div>

                                <div class="span1">
                                    <label>Units</label>
                                    <select class="input-mini" name="units" required="required">
                                        <option value="km">km</option>
                                        <option value="mile">mile</option>
                                    </select>
                                </div>

                                <div class="span2 offset1">
                                    <label>&nbsp;</label>
                                    <button class="btn" type="submit">Make Request</button>
                                </div>
                            </div>

                            <div class="request-url" style="display: none; margin: 5px 0;">
                                <span class="label">Request URL</span>
                                <code></code>
                            </div>
                            <pre class="response" style="display: none;"></pre>
                        </div>
                    </form>
                </div>
            </div>



            </div>

    </div>

</body>

</html>